{% extends "base.html" %}
{% load static %}
{% block title %}
Home Page
{% endblock %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'blog/index.css'%}"/>
{% endblock %}
{% block content %}
<section id = "welcome">
    <header>
      <img src="{% static 'blog/images/KU.png'%}" alt="Sushant the Author of this blog"/>
      <h2 class="Blogpost_title">Kathmandu University Blogpost</h2>
    </header>
</section>
<div class="blog_container">
<div class="blog_content">
<div class="left_content">
<!--CARD BEGINING-->
<div class="blog_card">
<a href="article.html" class="figure">
<img src="https://i.postimg.cc/KcwkZQsx/dummy.png" alt="" loading="lazy">
<span class="tag">15 JAN</span>
</a>
<section>
<a href="#" class="title">Blog title goes here...</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </p>
</section>
</div>
<!--CARD ENDS-->
<!--CARD BEGINING-->
<div class="blog_card">
<a href="#" class="figure">
<img src="https://i.postimg.cc/KcwkZQsx/dummy.png" alt="" loading="lazy">
<span class="tag">15 JAN</span>
</a>
<section>
<a href="article.html" class="title">Blog title goes here...</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </p>
</section>
</div>
<!--CARD ENDS-->
<!--CARD BEGINING-->
<div class="blog_card">
<a href="article.html" class="figure">
<img src="https://i.postimg.cc/KcwkZQsx/dummy.png" alt="" loading="lazy">
<span class="tag">15 JAN</span>
</a>
<section>
<a href="#" class="title">Blog title goes here...</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </p>
</section>
</div>
<!--CARD ENDS-->
<!--CARD BEGINING-->
<div class="blog_card">
<a href="article.html" class="figure">
<img src="https://i.postimg.cc/KcwkZQsx/dummy.png" alt="" loading="lazy">
<span class="tag">15 JAN</span>
</a>
<section>
<a href="#" class="title">Blog title goes here...</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </p>
</section>
</div>
<!--CARD ENDS-->
<!--CARD BEGINING-->
<div class="blog_card">
<a href="article.html" class="figure">
<img src="https://i.postimg.cc/KcwkZQsx/dummy.png" alt="" loading="lazy">
<span class="tag">15 JAN</span>
</a>
<section>
<a href="#" class="title">Blog title goes here...</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </p>
</section>
</div>
<!--CARD ENDS-->
<!--CARD BEGINING-->
<div class="blog_card">
<a href="#" class="figure">
<img src="https://i.postimg.cc/KcwkZQsx/dummy.png" alt="" loading="lazy">
<span class="tag">15 JAN</span>
</a>
<section>
<a href="#" class="title">Blog title goes here...</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </p>
</section>
</div>
<!--CARD ENDS-->
<!--CARD BEGINING-->
<div class="blog_card">
<a href="#" class="figure">
<img src="https://i.postimg.cc/KcwkZQsx/dummy.png" alt="" loading="lazy">
<span class="tag">15 JAN</span>
</a>
<section>
<a href="article.html" class="title">Blog title goes here...</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </p>
</section>
</div>

{% endblock %}
